.container{
  position: static;
  width: 100%;
  padding: 30%;
}

.display{
  position: absolute;
  left: 33%;
  top: 33%;
  font-size: xxx-large;
}

.menu{
  position: absolute;
  left: 33%;
  color: white;
  top: 50%;
  background-color: gray;
}

.cancell-button{
  height: 100px;
  width: 100px;
  background-color: red;
  border-radius: 50%;
  border-color: white;
  border: 10px;
  display: inline-block;
  margin-left: 70%;
}

.complete-button{
  height: 100px;
  width: 100px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  margin-left: 90;
}

.error-message{
  color: red;
  font-size: 2em;
  transition: opacity 1s;
}

.default{
  color: green;
}

.sucess{
  background-color: green;
}

.fail{
  background-color: red;
}

.small-modal{
  z-index: 1;
  left: 33%;
  top: 33%;
  background-color: white;
  position: fixed;
  color: black;
}
